certifi==2021.10.8
chardet==4.0.0
Django==1.8.15
django-crispy-forms==1.6.0
django-jsonfield==1.4.1
django-model-utils==3.1.2
djangorestframework==3.3.3
et-xmlfile==1.0.1
idna==2.10
jdcal==1.4.1
jellyfish==0.5.4
numpy==1.16.6
openpyxl==2.3.3
pandas==0.20.3
Pillow==2.4.0
psycopg2==2.8.6
python-dateutil==2.4.2
python-memcached==1.59
pytz==2022.1
reportlab==3.3.0
requests==2.27.1
six==1.16.0
urllib3==1.26.10
XlsxWriter==0.9.8
